@import "./../../../../design/colors.scss";
.laundry-page {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .panel {
        width: 800px;
        height: 90vh;
        margin-top: 20px;
    }

    .left-panel {
        border: 2px solid $secondary-seagreen;
        border-radius: 4px;

        h1 {
            padding: 0;
            margin: 15px;
            
            font-size: 32px;

            color: $secondary-seagreen;

            border-bottom: 2px solid $powder-orange;
        }

        .reservation-form {
            margin-top: 10px;

            .selector {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-right: 15px;
            }
        }

        .discount-button {
            margin-right: auto;
            margin-left: 10px;
            border: none;
            border-radius: 4px;

            width: 180px;

            background-color: $powder-orange;
            
            span {
                font-size: 16px;
                color: white;
                display: block;
                margin-top: -4px;
                padding: 0;    
            }

            animation: pulse 1s infinite;
        }

        .discount-button::before {
            content: url("./../../../../../public/assets/promo.gif");
            width: 5px;
            height: 5px;
            z-index: 1;
            display: block;
            position: relative;
            left: 155px;
            top: -25px;
            transform: scale(0.7, 0.7);
        }

        .discount-button:hover {
            animation: none;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
            100% {
                transform: scale(1);
            }
        }
    }

}