@import "./../../design/colors.scss";

.documentation-page-container {
    overflow: auto;
    height: 100vh;

    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 

    .top-panel {
        width: 90%; 
        height: auto; 
        margin-bottom: 20px;
        display: flex; 
        justify-content: space-between;
        align-items: center; 
        padding: 0 20px;
        .input-field{
            background-color: $powder-orange;
        }
        .input-label{
            margin-top: 10px;
            color: $secondary-seagreen;
            font-size: 25;
            padding-bottom: 2%;
            padding-right: 2%;
            margin-bottom: 2%;
            height: 20%;
        }
    }

    .parentDiv {
        display: flex; 
        justify-content: space-between; 
        width: 100%; 
    }



    .upload-form {
        max-height: 50vh;
        overflow: auto;
    }

    h1 {

        padding: 10px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;

        color: $secondary-seagreen;

        font-size: 32px;

        margin-top: 15px;
        border-bottom: 2px solid $powder-orange;
    }

    .left-panel {
        border: 2px solid $secondary-seagreen;
        border-radius: 3%;
        padding: 20px;
        width: 43%;
        height: 60vh;
        margin-top: 20px;
        margin-left: 2%;


        .input-label {
            color: $secondary-seagreen;
            font-size: 10;
        }



        .input-field {
            background-color: $powder-orange;
            border: none; 
            padding: 8px;
            margin-left: 10px; 
            width: 100%; 
        }
    }

    .right-panel {
        border: 2px solid $secondary-seagreen;
        border-radius: 3%;
        padding: 20px;
        width: 43%; 
        height: 60vh;
        margin-top: 20px;
        margin-right: 2%;
        h2 {
            color: $powder-orange;
            margin: 10px;
        }

        h3, label, input, .input-label{
            margin-top: 10px;
            color: $secondary-seagreen;
            font-size: 15;
            padding-bottom: 2%;
            padding-right: 2%;
            margin-bottom: 2%;
            height: 10%;
        }
        
        .submit-button {
            
            height: 30%;
            border: none;
            width: 180px;
    
            float: inline-start;
            
            width: 20%;
            color: white;
            background-color: $secondary-seagreen;
            border-radius: 5px;
            box-shadow: 0 5px $powder-orange;
            padding: auto;

        }

        .form-row {
            margin-top: 5px;
            margin-right: auto;
            margin-left: 10px;
            border: none;
            border-radius: 3%;
    
            width: 300px;
    

        }
    }
}
