@import "./../../design/colors.scss";

.documentation-page-container {
    overflow: auto;
    height: 100vh;

    display: flex;
    flex-direction: column; /* Stack panels vertically */
    justify-content: flex-start; /* Align items at the top */

    .top-panel {
        width: 90%; /* Take full width */
        height: auto; /* Auto height */
        margin-bottom: 20px; /* Space between top-panel and left-panel */
        display: flex; /* Use flexbox for horizontal layout */
        justify-content: space-between; /* Space between items */
        align-items: center; /* Center items vertically */
        padding: 0 20px; /* Add padding for spacing */
        .input-field{
            background-color: $powder-orange;
        }
        .input-label{
            margin-top: 10px;
            color: $secondary-seagreen;
            font-size: 25;
            padding-bottom: 2%;
            padding-right: 2%;
            margin-bottom: 2%;
            height: 20%;
        }
    }

    .parentDiv {
        display: flex; /* Use flexbox for horizontal layout */
        justify-content: space-between; /* Space between left-panel and right-panel */
        width: 100%; /* Take full width of the container */
    }



    .upload-form {
        max-height: 50vh;
        overflow: auto;
    }

    h1 {
        color: $powder-orange;
        margin: 0;
        padding: 10px;
        border-bottom: 2px solid $secondary-seagreen;
        border-radius: 3%;
        background-color: $secondary-seagreen;
    }

    .left-panel {
        border: 2px solid $secondary-seagreen;
        border-radius: 3%;
        padding: 20px; /* Add padding for better spacing */
        width: 43%; /* Adjust width based on desired layout */
        height: 60vh;
        margin-top: 20px;
        margin-left: 2%;


        .input-label {
            color: $secondary-seagreen;
            font-size: 10;
        }



        .input-field {
            background-color: $powder-orange; /* Orange background color for the input field */
            border: none; /* Remove border for the input field */
            padding: 8px; /* Add padding for better appearance */
            margin-left: 10px; /* Adjust margin for spacing */
            width: 100%; /* Take full width */
        }
    }

    .right-panel {
        border: 2px solid $secondary-seagreen;
        border-radius: 3%;
        padding: 20px; /* Add padding for better spacing */
        width: 43%; /* Adjust width based on desired layout */
        height: 60vh;
        margin-top: 20px;
        margin-right: 2%;
        h2 {
            color: $powder-orange;
            margin: 10px;
        }

        h3, label, input, .input-label{
            margin-top: 10px;
            color: $secondary-seagreen;
            font-size: 15;
            padding-bottom: 2%;
            padding-right: 2%;
            margin-bottom: 2%;
            height: 10%;
        }
        
        .submit-button {
            height: 30%;
            margin-right: auto;
            margin-left: 10px;
            border: none;
            border-radius: 3%;
    
            width: 180px;
    
            background-color: $powder-orange;
            color: white;
            
            span {
                font-size: 16px;
                color: white;
                display: block;
                margin-top: -4px;
                padding: 0;    
            }
        }

        .form-row {
            margin-right: auto;
            margin-left: 10px;
            border: none;
            border-radius: 3%;
    
            width: 300px;
    

        }
    }
}
