@import "src/design/colors";
.login {
    background-image: url("../../../../public/assets/reception-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  
    .image-shadow {
      z-index: 1;
      background-color: rgb(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 28px;
        border-bottom: 2px solid $powder-orange;
        color: $primary-seagreen;
        padding: 5px;
      }

      .login-dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 1;
        z-index: 2;
        width: 400px;
        height: 270px;
        border: 2px solid white;
        background-color: white;
        margin-top: -175px;
        border-radius: 6px;
      }

      .register-dialog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 1;
        z-index: 2;
        width: 400px;
        height: 400px;
        border: 2px solid white;
        background-color: white;
        margin-top: -175px;
        border-radius: 6px;

          > p {
            font-size: 18px;
            padding: 15px;
            color: $primary-seagreen;

            > span {
              color: $powder-orange;
            }
          }
      }

      .form-field {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  
        padding-top: 12px;
  
        > label {
          width: 100px;
          padding-right: 30px;
          font-size: 18px;
  
          font-weight: 500;
          color: $primary-seagreen;
        }
  
        > input {
          min-width: 180px;
  
          font-size: 18px;
          color: $primary-seagreen;
  
          background: none;
          border: none;
          border-bottom: solid 1px $primary-seagreen;
        }

      }

      footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .btn-submit {
            > span {
                font-size: 18px;
                color: white;
                padding: 15px;
            }
        
            border: none;
            border-radius: 5px;
            background: seagreen;
        }
      }
    }


    p {
        margin: 0;
    }

}